h1{
    background-color: rgb(228, 255, 205);
    font-size: medium;
    color: rgb(42, 140, 165);
}

nav{
    background-color: blanchedalmond;
    font-size: medium;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }