<div class="container" style="display: flex; justify-content: center; align-items: center;max-width: 75%;height: 50vh;" >
<div style="background-color:white;">
    <h2>Not a member?  &nbsp;&nbsp;&nbsp; <a routerLink="/register"><button type="submit" class="btn btn-primary" style="background-color: lightcoral">Sign Up</button></a></h2>
      <div  [align]="loginForm">
      <form #loginForm="ngForm" (ngSubmit)="addLogin()">
      
       
      <input name="username" class="form-control" type="text" placeholder="Enter Username " [(ngModel)]="loginObj.username" required>
      <br>
      
      <input name="password" class="form-control" type="password" placeholder="Enter Password" [(ngModel)]="loginObj.password" required>
      <br>
 
      <button type="submit" class="btn btn-primary">Login</button>
      <!-- <a routerLink="/home"> <button type="submit" class="btn btn-primary">Login</button></a> -->
      </form>
      </div>
      
  </div>
</div>

 
